<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Listas</title>
</head>

<body>
   <h2>Número aleatorios</h2>
    {{numero}}
   <h2>Listado de Alumnos</h2>
   <ul>
       {% for alumno in estudiantes %}
           <li>{{ alumno['nombre'] }} - {{ alumno['edad'] }}</li>
       {% endfor %}
   </ul>
   <h2>Listado de Alumnos 2</h2>
   <ul>
       {% for alumno in estudiantes2 %}
           <li>{{ alumno['nombre'] }} - {{ alumno['edad'] }}</li>
       {% endfor %}
   </ul>
</body>
</html>